* {
    c0: #000000;
    c1: #222222;
    c2: #dddddd;
    c3: #ffffff;
    muted: #777777;

    font: "Inter 11";
    background-color: transparent;
    text-color: @c3;
    border-color: @c1;
}

window {
    width: 42em;
    location: center;
    anchor: center;
    padding: 0px;
    border: 1px;
    border-color: @c1;
    border-radius: 0px;
    background-color: @c0;
}

mainbox {
    children: [ inputbar, message, listview ];
    spacing: 0px;
    padding: 0px;
    background-color: @c0;
}

inputbar {
    children: [ prompt, entry ];
    spacing: 0px;
    padding: 15px 16px;
    border: 0px 0px 1px 0px;
    border-color: @c1;
    background-color: @c0;
}

prompt {
    padding: 0px 12px 0px 0px;
    text-color: @c2;
}

entry {
    placeholder: "Search apps, settings, or calculate…";
    placeholder-color: @muted;
    cursor-color: @c3;
    text-color: @c3;
}

message {
    padding: 10px 16px;
    border: 0px 0px 1px 0px;
    border-color: @c1;
    background-color: @c1;
}

textbox {
    text-color: @c2;
}

listview {
    lines: 8;
    columns: 1;
    fixed-height: false;
    dynamic: true;
    cycle: false;
    scrollbar: false;
    spacing: 2px;
    padding: 8px;
    background-color: @c0;
}

element {
    children: [ element-icon, element-text ];
    spacing: 11px;
    padding: 10px 12px;
    border: 0px;
    border-radius: 0px;
    background-color: @c0;
    text-color: @c3;
    cursor: pointer;
}

element-icon {
    size: 1.25em;
    background-color: transparent;
}

element-text {
    vertical-align: 0.5;
    background-color: transparent;
    highlight: underline;
    text-color: inherit;
}

element selected {
    background-color: @c3;
    text-color: @c0;
}

element alternate {
    background-color: @c0;
    text-color: @c3;
}
